.btn-continue-with-new-info {
  border-color: white !important;
  box-shadow: none !important;
  color: #4096FF !important;
}
.btn-continue-with-new-info:hover {
  background-color: rgb(219 234 254) !important;
}
