.about-us-container {
  overflow: hidden;
  
  .title-section {
    color: #f9a826;
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  .subtitle-section {
    color: #000d6b;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  span {
    background: linear-gradient(to right, #5eaae3, #2a6496);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .py-10 {
    height: fit-content;
  }

  .banner-about-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://i.chungta.vn/2023/09/08/-8391-1694146544_1200x0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 40px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .banner-content {
    .btn-contact {
      background-color: transparent;
      color: white;
      border: 2px solid;
      border-image: linear-gradient(to right, #5eaae3, #2a6496);
      border-image-slice: 1;
      padding: 10px 20px;
      border-radius: 5px;

      p {
        background: linear-gradient(to right, #5eaae3, #2a6496);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover {
        background-color: #eeeeee;
      }
    }
  }

  .background-gray {
    background: #f4f5f9;
    width: 100%;
  }

  .scroll-to-top-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid gray;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  // header
  .general-management__menu {
    padding: 0 30px;
    position: relative;
    background: #fff;
    border-bottom: 2px solid rgba(48, 51, 58, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    width: 100vw;

    ul {
      display: flex;
      margin-bottom: 0px;

      li {
        position: relative;
        // display: block;
        margin-right: 16px;
        transition: all 0.3s ease;
        border-radius: 10px;

        a {
          cursor: pointer;
          display: block;
          padding: 12px 8px 8px;
          font-size: 17px;
          line-height: 20px;
          font-weight: bold;
          color: rgba(48, 51, 58, 0.86);
          text-decoration: none;

          &.active {
            font-weight: bold;
          }

          &.active::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 8px 8px 0 0;
            background-color: #f9a826;
            transition: all 0.3s ease;
          }
        }

        &:hover {
          a {
            &::after {
              content: "";
              display: block;
              position: absolute;
              bottom: -1px;
              left: 0;
              width: 100%;
              height: 3px;
              border-radius: 8px 8px 0 0;
              background-color: #f9a826;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}
